:root {
  --radius: 20px;

  --background: #e8edf3;
  --foreground: #374151;

  --primary: #ef4444;
  --secondary: #f5f7fa;
  --accent: #ef4444;

  --card: rgba(255,255,255,.75);
  --border: rgba(255,255,255,.5);

  --player-bg: #f5f7fa;
  --player-text: #374151;
  --player-muted: #9ca3af;

  --progress-bg: #d1d5db;
  --progress-fill: var(--accent);

  --player-shadow:
    12px 12px 25px rgba(163,177,198,.35),
    -12px -12px 25px rgba(255,255,255,.8);

  --player-shadow-inset:
    inset 3px 3px 8px rgba(163,177,198,.25),
    inset -3px -3px 8px rgba(255,255,255,.8);
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;

  --primary: #ef4444;
  --secondary: #18181b;
  --accent: #ef4444;

  --card: rgba(24,24,27,.8);
  --border: rgba(255,255,255,.08);

  --player-bg: #18181b;
  --player-text: #fafafa;
  --player-muted: #a1a1aa;

  --progress-bg: #3f3f46;
  --progress-fill: var(--accent);

  --player-shadow:
    8px 8px 20px rgba(0,0,0,.6),
    -4px -4px 10px rgba(255,255,255,.02);

  --player-shadow-inset:
    inset 3px 3px 8px rgba(0,0,0,.5),
    inset -3px -3px 8px rgba(255,255,255,.03);
}